<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fieldtool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <fieldtool.Properties.Settings>
            <setting name="MRUFile1" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRUFile2" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRUFile3" serializeAs="String">
                <value/>
            </setting>
            <setting name="AccPlotNoDataColor" serializeAs="String">
                <value>Plum</value>
            </setting>
            <setting name="MapScalebarActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapLegendAnchor" serializeAs="String">
                <value>RightTop</value>
            </setting>
            <setting name="MapLegendFont" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="MapLegendTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MapLegendBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MapLegendBorderColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MapLegendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapLegendBorderRoundEdges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapLegendBackgroundAlpha" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="VisualizerTextsize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="VisualizerMarkersize" serializeAs="String">
                <value>12</value>
            </setting>
        </fieldtool.Properties.Settings>
    </userSettings>
</configuration>
